# Introducción a Python

<h2>Table of Contents<span class="tocSkip"></span></h2><br/>
<div class="toc"><ul class="toc-item"><li><span><a href="#Introducción-a-Python" data-toc-modified-id="Introducción-a-Python-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Introducción a Python</a></span><ul class="toc-item"><li><span><a href="#Estructuras-de-datos" data-toc-modified-id="Estructuras-de-datos-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Estructuras de datos</a></span><ul class="toc-item"><li><span><a href="#Listas" data-toc-modified-id="Listas-1.1.1"><span class="toc-item-num">1.1.1&nbsp;&nbsp;</span>Listas</a></span></li><li><span><a href="#Tuplas" data-toc-modified-id="Tuplas-1.1.2"><span class="toc-item-num">1.1.2&nbsp;&nbsp;</span>Tuplas</a></span></li><li><span><a href="#Diccionarios" data-toc-modified-id="Diccionarios-1.1.3"><span class="toc-item-num">1.1.3&nbsp;&nbsp;</span>Diccionarios</a></span></li></ul></li><li><span><a href="#Sets" data-toc-modified-id="Sets-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Sets</a></span></li><li><span><a href="#Indexing-y-slicing" data-toc-modified-id="Indexing-y-slicing-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span><em>Indexing</em> y <em>slicing</em></a></span></li><li><span><a href="#Ejercicios" data-toc-modified-id="Ejercicios-1.4"><span class="toc-item-num">1.4&nbsp;&nbsp;</span>Ejercicios</a></span><ul class="toc-item"><li><span><a href="#Ejercicio-1" data-toc-modified-id="Ejercicio-1-1.4.1"><span class="toc-item-num">1.4.1&nbsp;&nbsp;</span>Ejercicio 1</a></span></li><li><span><a href="#Ejercicio-2" data-toc-modified-id="Ejercicio-2-1.4.2"><span class="toc-item-num">1.4.2&nbsp;&nbsp;</span>Ejercicio 2</a></span>

---

## Estructuras de datos

### Listas

Son conjuntos ordenados y mutables de elementos del mismo o diferente tipo. Cada elemento de la secuencia se le asigna un número que corresponde a su posición en la secuencia (índice). El primer índice es cero (0), el segundo uno (1), y así sucesivamente.

<center><img src="img/python_list.png"></center>

In [1]:
lista1 = list()
lista2 = []

In [2]:
print(type(lista2))

<class 'list'>

In [3]:
print(type(lista1))

<class 'list'>

In [3]:
lista1

[]

In [4]:
lista3 = [1,2,3]
lista4 = [28, "casa", [1, 2, 3]]

print(lista3)
print(lista4)

[1, 2, 3]
[28, 'casa', [1, 2, 3]]

In [5]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [7]:
list(range(23))

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22]

In [8]:
list(range(1, 23, 2))

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21]

Para acceder a los elemento de una lista se utilizan corchetes `[]`.

In [10]:
lista4

[28, 'casa', [1, 2, 3]]

In [9]:
lista4[2]

[1, 2, 3]

In [10]:
lista4[2][1]

2

Para añadir un elemento a la lista, utilizamos el método `append()`:

In [11]:
lista3

[1, 2, 3]

In [16]:
lista3.append(7)

In [17]:
lista3

[1, 2, 3, 4, 5, 6, 7, 8, 7]

Para añadir más de un elemento a la lista, utilizamos el método `extend()`:

In [20]:
lista3.extend([5,6, 7, 8])

In [21]:
lista3

[1, 2, 3, 4, 5, 6, 7, 8, 7, 5, 6, 7, 8, 5, 6, 7, 8]

In [18]:
lista3.append([5,6, 7, 8])
lista3

[1, 2, 3, 4, 5, 6, 7, 8, [5, 6, 7, 8]]

El operador `+` permite concatenar dos listas:

In [22]:
print(lista3)
print(lista4)
lista3 + lista4 + ["casa", True, [1, 2]]

[1, 2, 3, 4, 5, 6, 7, 8, 7, 5, 6, 7, 8, 5, 6, 7, 8]
[28, 'casa', [1, 2, 3]]

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 7,
 5,
 6,
 7,
 8,
 5,
 6,
 7,
 8,
 28,
 'casa',
 [1, 2, 3],
 'casa',
 True,
 [1, 2]]

Otras operaciones básicas con listas:

In [23]:
len([1, 2, 3])

3

In [24]:
["oh!", 1] * 4

['oh!', 1, 'oh!', 1, 'oh!', 1, 'oh!', 1]

In [25]:
3 not in [1, 2, 3]

False

Para saber que otros métodos de la librería estándar de Python podemos usar con los objetos de tipo lista usamos la función `dir()`

In [26]:
dir(lista1)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [29]:
lista1.sort?

Signature: lista1.sort(*, key=None, reverse=False)
Docstring: Stable sort *IN PLACE*.
Type:      builtin_function_or_method

In [30]:
help(lista1.sort())

Help on NoneType object:

class NoneType(object)
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      self != 0
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

### Tuplas

Una tupla es una secuencia de valores muy parecida a una lista. Los valores almacenados en una tupla pueden ser de cualquier tipo, y están indexados por enteros. Las tuplas se diferencian de las listas en que:

1. No se puede modificar el valor de los elementos de una tupla (*objeto inmutable*).
2. Se usan parentesis en lugar de corchetes para construir una tupla, aunque sintácticamente no es obligatorio.

In [35]:
tupla1 = tuple()
tupla2 = ()
tupla3 = (1, "a", 71.4)
tupla4 = 1, "a", 71.4

In [37]:
tupla4[2] = 1

TypeError: 'tuple' object does not support item assignment

Como en las listas, los elementos de una tupla se pueden acceder usando corchetes `[]` y el índice del elemento:

In [38]:
tupla3 = (2, 3, "casa")

In [39]:
tupla3[2] = 1

TypeError: 'tuple' object does not support item assignment

Dos tuplas se pueden concatenar:

In [33]:
print(tupla3)
print(tupla4)
tupla3 + tupla4

(2, 3, 'casa')
(1, 'a', 71.4)

(2, 3, 'casa', 1, 'a', 71.4)

De nuevo, para saber que otros métodos de la librería estándar de Python podemos usar con los objetos de tipo tupla usamos la función `dir()`

In [40]:
dir(tupla1)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [41]:
tupla1.count??

Signature: tupla1.count(value, /)
Docstring: Return number of occurrences of value.
Type:      builtin_function_or_method

In [42]:
tupla3

(2, 3, 'casa')

In [45]:
tupla3.count('casa')

1

### Diccionarios

Los diccionarios definen una relación uno a uno entre claves y valores. Los diccionarios son mutables y no ordenados.

```
 { key1:value1 , key2:value2 , key3:value3 , ...}
 
```

En un diccionario las claves (key) son únicas e inmutables, pero los valores (value) si pueden cambiar.

In [46]:
edades = {"jose" : 24, "luis" : 34, "maria" : 21}

In [47]:
edades

{'jose': 24, 'luis': 34, 'maria': 21}

Para acceder a los elementos de un diccionario se utilizan corchetes `[]` y la clave correspondiente.

In [48]:
edades["luis"]

34

Acceso a claves inexistentes devuelve KeyError

In [49]:
edades["rocio"]

KeyError: 'rocio'

Aunque también podemos devolver un valor por defecto con el método `get`. El primer parámetro del método `get` es la clave de búsqueda, el segundo el valor por defecto.

In [50]:
edades.get("rocio", -1)

-1

In [52]:
edades.get("luis", -1)

34

In [53]:
edades["juan"] = 13
edades

{'jose': 24, 'luis': 34, 'maria': 21, 'juan': 13}

Los elementos de un diccionarios no conservan el orden con el cual fueron creados.

In [54]:
edades["ana"] = 65
edades

{'jose': 24, 'luis': 34, 'maria': 21, 'juan': 13, 'ana': 65}

Para crear un diccionario vacío:

In [55]:
d = {}
d1 = dict()

## Sets

Coleccion **no ordenada** de elementos del mismo o distinto tipo (incluso puede tener sets como elementos), que se caracteriza por ser **sin elementos duplicados**.

Los usos más tipicos son testing de pertenencia, y eliminar entradas duplicadas. 

Al ser la implementación de un concepto matemático, los conjuntos, soporta operaciones matemáticas como unión, intersección, diferencia, y diferencia simétrica. 

Se crean con {} o con la función set(). 

Nota: para crear un set vacío, hay que usar la función set(). No se puede usar {} pues crea un diccionario vacío.

In [60]:
ciudades = {"Madrid", "Barcelona", "Malaga"}
ciudades

{'Barcelona', 'Madrid', 'Malaga'}

In [61]:
ciudad = set("Buenos Aires")
ciudad

{' ', 'A', 'B', 'e', 'i', 'n', 'o', 'r', 's', 'u'}

In [62]:
ciudad ={"Buenos Aires"}
ciudad

{'Buenos Aires'}

In [63]:
ciudades = set(("Madrid", "Lyon", "Londres"))
ciudades

{'Londres', 'Lyon', 'Madrid'}

In [64]:
ciudades = set(("Madrid", "Lyon", "Londres", "Barcelona", "Ourense"))
ciudades

{'Barcelona', 'Londres', 'Lyon', 'Madrid', 'Ourense'}

Los sets no aceptan objetos mutables, por lo que no se le pueden pasar listas como elementos pero si tuplas

In [65]:
ciudades= set((["Python","Perl"], ["Paris", "Berlin", "London"]))
ciudades

TypeError: unhashable type: 'list'

In [66]:
colores = {"rojo", "azul", "verde", 3}
colores

{3, 'azul', 'rojo', 'verde'}

In [67]:
set(colores)

{3, 'azul', 'rojo', 'verde'}

Podemos añadir elementos a un set con el método `add()`:

In [68]:
colores.add("naranja")

In [69]:
colores

{3, 'azul', 'naranja', 'rojo', 'verde'}

Para realizar una copia del set utilizamos el método `copy()`:

In [70]:
mas_ciudades = {"Winterthur", "Paris", "Roma"}
ciudades_backup = mas_ciudades.copy()
mas_ciudades.clear()
ciudades_backup

{'Paris', 'Roma', 'Winterthur'}

In [71]:
mas_ciudades

set()

In [72]:
a = [1, 2, 3]
b = a
a =[0]
b

[1, 2, 3]

In [73]:
a

[0]

De lo contrario, con una asignación...

In [74]:
mas_ciudades = {"Winterthur", "Paris", "Roma"}
ciudades_backup = mas_ciudades
mas_ciudades.clear()
ciudades_backup

set()

Podemos realizar la operación **diferencia** entre conjuntos con el método `difference()`:

In [75]:
ciudades
ciudades.difference({"Madrid"})

{'Barcelona', 'Londres', 'Lyon', 'Ourense'}

La operación **unión** con el método `union()` y la **intersección** con el método `intersection()`:

In [76]:
ciudades = ciudades.union({"Paris"})

In [77]:
print(ciudades)
ciudades.intersection({"Ourense", "Toledo"})

{'Barcelona', 'Madrid', 'Ourense', 'Paris', 'Londres', 'Lyon'}

{'Ourense'}

Además podemos utilizar los operadores *in , - , | , & y ^*:

In [78]:
fruteria ={"manzana","naranja", "fresa"}

In [79]:
"naranja" in fruteria

True

In [80]:
"platano" in fruteria

False

In [81]:
a = set("abc")
b = set("defa")
a

{'a', 'b', 'c'}

In [82]:
a - b

{'b', 'c'}

In [83]:
a | b

{'a', 'b', 'c', 'd', 'e', 'f'}

In [84]:
a & b

{'a'}

In [85]:
a ^ b

{'b', 'c', 'd', 'e', 'f'}

---

## *Indexing* y *slicing*

En Python los elementos de las secuencias ordenadas (*strings*, listas, y tuplas) se acceden via índices que se indican entre corchetes después del nombre del objeto que contiene la secuencia. Tomemos por ejemplo la lista `nombres` de la siguiente figura:

<center><img src="img/indexing1.png"></center>

In [57]:
nombres = ['teresa', 'andrea', 'pablo', 'isabel', 'alvaro', 'angelo', 'mirian', 'carolina']

Como ya hemos mencionado, los índices de las secuencias en Python empiezan en cero (0). Por lo tanto, para acceder al primer elemento de la list (`"teresa"`) 

<center><img src="img/nombres0.png"></center>

In [58]:
nombres[0]

'teresa'

In [59]:
nombres[4]

'alvaro'

In [61]:
nombres[-1]

'carolina'

El número de elementos en la secuencia se obtiene con la función `len`:

<center><img src="img/len.png"></center>

In [89]:
len(nombres)

8

El último elemento de la lista:

<center><img src="img/nombres7.png"></center>

In [90]:
nombres[len(nombres) - 1]

'carolina'

También podemos acceder al útlimo elemento, usando `-1` como índice.

In [91]:
nombres[-1]

'carolina'

Se puede obtener una parte de la secuencia usando:

```python
secuencia[x:y:z]
```
donde x, y, z son números enteros.

Lo anterior devuelve una nueva secuencia con las siguientes características:

- Del mismo tipo que la original (una rebanada de una lista es una lista, una rebanada de una tupla es una tupla, y una rebanada de una cadena es una cadena).
- Conteniendo los elementos desde `secuencia[x]` hasta `secuencia[y-1]` (no incluye a secuencia[y]). Saltándose `z` elementos cada vez, se puede omitir si `z = 1`. 

**Ejemplos:**

<center><img src="img/nombres24.png"></center>

In [92]:
nombres[0:8]

['teresa',
 'andrea',
 'pablo',
 'isabel',
 'alvaro',
 'angelo',
 'mirian',
 'carolina']

In [93]:
nombres[1:10:3]

['andrea', 'alvaro', 'carolina']

<center><img src="img/nombresall.png"></center>

In [94]:
nombres[:]

['teresa',
 'andrea',
 'pablo',
 'isabel',
 'alvaro',
 'angelo',
 'mirian',
 'carolina']

<center><img src="img/nombres2.png"></center>

In [95]:
nombres[2:]

['pablo', 'isabel', 'alvaro', 'angelo', 'mirian', 'carolina']

<center><img src="img/nombres3.png"></center>

In [96]:
nombres[:3]

['teresa', 'andrea', 'pablo']

<center><img src="img/nombres22.png"></center>

In [97]:
nombres[::2]

['teresa', 'pablo', 'alvaro', 'mirian']

In [98]:
nombres[::-1]

['carolina',
 'mirian',
 'angelo',
 'alvaro',
 'isabel',
 'pablo',
 'andrea',
 'teresa']

In [99]:
nombres[2:3] + nombres[3:4]

['pablo', 'isabel']

In [100]:
type(nombres[5:7])

list

## Ejercicios

### Ejercicio 1

Escribir un programa que sume todos los elementos de la lista = [0,1,...., 20].

In [101]:
lista=list(range(21))
lista
sum(lista)

210

In [102]:
lista=list(range(21))
z=0
for i in lista:
    z=lista[i]+z
z

210

In [103]:
lista=list(range(21))
z=0
for i in lista:
    z+=i
z

210

### Ejercicio 2 
Crear un diccionario cuyas claves (`key`) son números enteros entre 1 y 15 (ambos inclusive) y los valores (`value`) son el cuadrado de la clave (`key`).

In [10]:
dic=dict()
i=1
while(i<16):
    dic[i]=i*i
    i+=1
dic

{1: 1,
 2: 4,
 3: 9,
 4: 16,
 5: 25,
 6: 36,
 7: 49,
 8: 64,
 9: 81,
 10: 100,
 11: 121,
 12: 144,
 13: 169,
 14: 196,
 15: 225}

In [18]:
diccionario_num={}
i=1
for i in list(range(1,16)):
    diccionario_num[i] = i**2
diccionario_num

{1: 1,
 2: 4,
 3: 9,
 4: 16,
 5: 25,
 6: 36,
 7: 49,
 8: 64,
 9: 81,
 10: 100,
 11: 121,
 12: 144,
 13: 169,
 14: 196,
 15: 225}

In [17]:
dir(diccionario_num)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']