In [4]:
nombre <- c("Juan", "Pablo", "Irene", "Paco")
apellido <- c("Perez", "Garcia", "Diaz", "Sanchez")
fecha_nac <- c("1975-03-07", "1978-05-10", "1985-11-30", "1960-01-13")
sexo <- c("H", "M", "H", "H")
nro_hijos <- c(4, 2, 3, 2)

In [5]:
censo <- data.frame(nombre, apellido, fecha_nac, sexo, nro_hijos)
censo

  nombre apellido fecha_nac  sexo nro_hijos
1 Juan   Perez    1975-03-07 H    4
2 Pablo  Garcia   1978-05-10 M    2
3 Irene  Diaz     1985-11-30 H    3
4 Paco   Sanchez  1960-01-13 H    2