### Ejemplo con pandas

In [6]:
import pandas as pd

In [7]:
#!conda list

In [10]:
#pd.DataFrame?

In [8]:
raw_data = {'first_name': ['Juan', 'Alicia', 'Maria', 'Tomas', 'Andres'], 
        'last_name': ['Peres', 'Lopez', 'Ruiz', 'Manzano', 'Fernandez'], 
        'age': [42, 52, 36, 24, 37], 
        'Test01': [8, 48, 62, 4, 6],
        'Test02': [25, 94, 57, 62, 70]}
df = pd.DataFrame(raw_data, columns = ['first_name', 'last_name', 'age', 'Test01', 'Test02'])
df

  first_name  last_name  age  Test01  Test02
0       Juan      Peres   42       8      25
1     Alicia      Lopez   52      48      94
2      Maria       Ruiz   36      62      57
3      Tomas    Manzano   24       4      62
4     Andres  Fernandez   37       6      70

### Ejemplo con pandas y numpy

In [11]:
import numpy as np

In [12]:
df = pd.DataFrame(np.random.randint(0,100,size = (7,2)),
                  columns = ['fst','snd'])

In [13]:
df

   fst  snd
0   57   15
1   13   50
2   26   46
3    1   81
4   26   69
5    6   33
6   18   57